body {
    font-family: 'Times New Roman', Times, serif;
    background: black;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-display: block;
    background: #007BFF;
    width: 350px;
    border-radius: 0%;
    padding: 20px;

}

label {
    display: block;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 0%;

}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background: #0056b3;
}
h3 {
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}